<div id="<%= dom_id customer %>">
  <p>
    <strong>Dni:</strong>
    <%= customer.dni %>
  </p>

  <p>
    <strong>Apeynom:</strong>
    <%= customer.apeynom %>
  </p>

  <p>
    <strong>Celular:</strong>
    <%= customer.celular %>
  </p>

</div>
