<div id="<%= dom_id car %>">
  <p>
    <strong>Patente:</strong>
    <%= car.patente %>
  </p>

  <p>
    <strong>Descri:</strong>
    <%= car.descri %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= car.customer_id %>
  </p>

</div>
